@media (min-width: 728px) and (max-width: 1199px) {
	.col-md-1 {
		width: 33.333%;
	}

	.col-md-2 {
		width: 33.333%;
	}

	.col-md-3 {
		width: 33.333%;
	}

	.col-md-4 {
		width: 33.333%;
	}

	.col-md-5 {
		width: 33.333%;
	}

	.col-md-6 {
		width: 33.333%;
	}

	.col-md-7 {
		width: 33.333%;
	}

	.col-md-8 {
		width: 33.333%;
	}

	.col-md-9 {
		width: 33.333%;
	}

	.col-md-10 {
		width: 33.333%;
	}

	.col-md-11 {
		width: 33.333%;
	}

	.col-md-12 {
		width: 33.333%;
	}

	.item {
		background-color: red;
	}
}